$black: #000;
$lightgray: #a9b0be;
$white: #fff;

// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: bold;
  text-align: center;
}

.contact-form {
  background-color: $black;
  color: $white;
  height: 250px;
  padding-top: 30px;
}

.add-button {
  background-color: $lightgray;
  font-weight: bold;
}

.form-results {
  background-color: $black;
  color: $white;

  li {
    line-height: 30px;
    list-style-type: none;
  }
}
